{% extends "base_template.html" %}
{% block title %}FreeSpeak | Interpret{% endblock %}
{% block body %}
<section class="output"><h4>ASSEMBLY INTERPRETATION:</h4><button onclick="ctoclip('.o_p')">Copy to Clipboard</button><div class="line-sep"></div>
  {% for line in content %}
      <p class = "o_p"
      {% if line=="section .text" or line=="section .data"%}
        style = "text-align: left; margin-bottom: 0; margin-left: 10%;"
      {% endif %}
      >{% if "~" in line %}{% for c in line %}{% if c == "~" %}{{c | replace("~", "&nbsp;") | safe}}{% endif %}{% if c != "~" %}{{c}}{% endif %}{% endfor %}{% endif %}
       {% if "~" not in line %}
         {{line}}
       {% endif %}</p>
  {% endfor %}
</section>

<script type="text/javascript">
  $("textarea").focus().val("").val("{{raw_text|safe}}");
  function ctoclip(e) {
    var $temp = $("<textarea>");
    $("body").append($temp);

    var txt = $(e).text().replace(/[ \u00A0\u1680​\u180e\u2000-\u2009\u200a​\u200b​\u202f\u205f​\u3000]/g,' ');
    txt = txt.replace(/^\s+\t+?|\s+$/g, "");

    $temp.val(txt).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>
{% endblock %}
